@tailwind base;
@tailwind components;
@tailwind utilities;

.main-page__section{
    @apply basis-200px grow p-4 bg-gray-50 rounded-lg shadow-md;
}

.main-page__text-section{
    @apply text-base font-pixel;
}

.main-page__header-container{
    /* background-image: linear-gradient(to bottom, black, rgba(0,0,0, 0.0)); */
    @apply bg-zinc-700;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.app{
    background-image: linear-gradient(to bottom, rgba(0,0,0, 0.6), rgba(0,0,0, 0.6)), url('./assets/background-02.png') ;
    background-repeat: repeat;
    background-position: center;
    background-size: contain;
    image-rendering: pixelated;
}